<!DOCTYPE html>
<html>
<head>
  <title>Rtrain Rails Demo Application</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Rtrain Rails Demo Application</h1>

<div id="main-navbar">
	<ul id="menu">
	<li><%=link_to 'Main', '/'%></li>
		<li><%=link_to 'People',people_path%></li>
		<li><%=link_to 'Posts',posts_path%></li>
	</ul>
</div>	




<%= yield %>

</body>
</html>
